<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geeps</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Geeps</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/empresa/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/auth/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-home fa-fw"></i> Início</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Pedidos
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/pedido">Cadastrar Pedido</a>
                            </li>
                            <li>
                                <a href="/empresa/pedidos">Pedidos Em Andamento</a>
                            </li>
                            <li>
                                <a href="/empresa/pedidos_encerrados">Pedidos Encerrados</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/empresa/relatorios"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> Entregadores
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/entregador">Cadastrar Entregador</a>
                            </li>
                            <li>
                                <a href="/empresa/entregadores">Visualizar</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Registrar Pedido</h1>
                {{#if message}}
                    <p style="color: #d43f3a;text-align: center;">Erro: {{message}}</p>
                {{/if}}
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <form role="form" method="POST" action="/empresa/pedido" id="pedidoForm">

                <div class="form-group col-lg-8 col-md-8">

                    <div class="col-md-6 form-group">
                        <label>Nº do Cliente</label>
                        <input class="form-control" value="{{telefone_cliente}}" name="telefone_cliente"
                               placeholder="Telefone do cliente" required>
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Nome do Cliente</label>
                        <input class="form-control" value="{{nome_cliente}}" name="nome_cliente"
                               placeholder="Nome do cliente" required>
                    </div>


                    <hr style="width:100%; height:1px; background: #fff"/>

                    <div class="col-md-9 form-group">
                        <label>Rua</label>
                        <input class="form-control" value="{{rua}}" name="rua" placeholder="Nome da Rua" required>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Número</label>
                        <input class="form-control" value="{{numero}}" name="numero" placeholder="Número da casa"
                               required>
                    </div>

                    <div class="col-md-4 form-group">
                        <label>Bairro</label>
                        <input class="form-control" value="{{bairro}}" name="bairro" placeholder="Bairro" required>
                    </div>

                    <div class="col-md-4 form-group">
                        <label>Cidade</label>
                        <input class="form-control" value="{{cidade}}" name="cidade" placeholder="Nome da cidade">
                    </div>

                    <div class="col-md-4 form-group">
                        <label>Estado</label>
                        <input class="form-control" value="{{estado}}" name="estado" placeholder="Nome ou UF">
                    </div>

                    <hr style="width:100%; height:1px; background: #fff">

                    <div class="col-md-12 form-group">
                        <label>Entregador</label>
                        <select class="form-control" name="telefone_entregador" required form="pedidoForm">
                            {{#each entregadores}}
                                <option value="{{this._id}}">{{this.nome}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div style="text-align: center; margin-top: 8em">
                        <button type="submit" class="btn btn-success">Cadastrar Pedido</button>
                        <button type="reset" class="btn btn-default">Limpar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery-1.11.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>

</body>

</html>