<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geeps</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Geeps</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/empresa/perfil"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/auth/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-home fa-fw"></i> Início</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Pedidos
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/pedido">Cadastrar Pedido</a>
                            </li>
                            <li>
                                <a href="/empresa/pedidos">Pedidos Em Andamento</a>
                            </li>
                            <li>
                                <a href="#">Pedidos Encerrados</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck fa-fw"></i> Entregadores
                            <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/empresa/entregador">Cadastrar Entregador</a>
                            </li>
                            <li>
                                <a href="/empresa/entregadores">Visualizar</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <img src="{{empresa.imgPath}}" style="width: 100%;">
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Geeps - Perfil da Empresa</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

                <div class="form-group col-lg-8 col-md-10">

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Nome da Empresa</label>
                    </div>
                    <!-- <div class="col-xs-2 form-group">
                        
                        <p class="form-control-static">
                        <label>Ícone da Empresa</label>
                            <img src="{{empresa.imgPath}}" style="heigth: 50px; width: 50px">
                        </p>
                    </div> -->
                    <div class="col-xs-8 form-group">
                        <p class="form-control-static">{{empresa.nome}}</p>
                    </div>

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Endereço de Email</label>
                    </div>
                    <div class="col-xs-8 form-group">
                        <p class="form-control-static">{{empresa.email}}</p>
                    </div>

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Ícone da Empresa</label>
                    </div>
                    <div class="col-xs-8 form-group">
                        <p class="form-control-static">
                            <img src="{{empresa.imgPath}}" style="heigth: 50px; width: 50px">
                        </p>
                    </div>

                    <hr style="width:100%; height:1px; background: #fff" />

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Rua</label>
                    </div>
                    <div class="col-xs-8 form-group">
                        <p class="form-control-static">{{empresa.endereco.rua}}</p>
                    </div>

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Bairro</label>
                    </div>
                    <div class="col-xs-4 form-group">
                        <p class="form-control-static">{{empresa.endereco.bairro}}</p>
                    </div>

                    <div class="col-xs-2 form-group" style="text-align: right">
                        <label>Número</label>
                    </div>
                    <div class="col-xs-2 form-group">
                        <p class="form-control-static">{{empresa.endereco.numero}}</p>
                    </div>

                    <div class="col-xs-4 form-group" style="text-align: right">
                        <label>Cidade</label>
                    </div>
                    <div class="col-xs-4 form-group">
                        <p class="form-control-static">{{empresa.endereco.cidade}}</p>
                    </div>

                    <div class="col-xs-2 form-group" style="text-align: right">
                        <label>Estado</label>
                    </div>
                    <div class="col-xs-2 form-group">
                        <p class="form-control-static">{{empresa.endereco.estado}}</p>
                    </div>

                    <hr style="width:100%; height:1px; background: #fff">

                    <div style="text-align: center; margin-top: 8em">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit" title="Editar Perfil">Editar Perfil</button>

                        <!-- Dialogo Modal para EDITAR o perfil -->
                        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="Editar Perfil" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form enctype="multipart/form-data" role="form" method="POST" action="/empresa/perfil/editar/">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Editar Perfil</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="text-align: left">

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Nome da Empresa</label>
                                                </div>
                                                <div class="col-xs-8 form-group">
                                                    <input type="text" class="form-control" name="nome" value="{{empresa.nome}}" >
                                                </div>

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Endereço de Email</label>
                                                </div>
                                                <div class="col-xs-8 form-group">
                                                    <input type="text" class="form-control" name="email" value="{{empresa.email}}" >
                                                </div>

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Ícone da Empresa</label>
                                                </div>

                                                <div class="col-xs-8 form-group" id="userphoto">
                                                    <div class="gravatar-wrapper-128">
                                                        <p class="form-control-static">                                                    
                                                            <img id="image" src="{{empresa.imgPath}}" class="logo" style="heigth: 50px; width: 50px"></div>
                                                        </p>
                                                    <div class="change-picture-slide" style="top: 30px;">
                                                        <input accept="image/*" type="file" id="upload" name="image" onchange="readURL(this);"style="visibility: hidden;" />
                                                        <button onclick="changePicture(); return false">Mudar ícone</button>
                                                    </div>
                                                </div>

                                                <hr style="width:100%; height:1px; background: #fff" />

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Rua</label>
                                                </div>
                                                <div class="col-xs-8 form-group">
                                                    <input type="text" class="form-control" name="rua" value="{{empresa.endereco.rua}}" >
                                                </div>

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Bairro</label>
                                                </div>
                                                <div class="col-xs-4 form-group">
                                                    <input type="text" class="form-control" name="bairro" value="{{empresa.endereco.bairro}}" >
                                                </div>

                                                <div class="col-xs-2 form-group" style="text-align: right">
                                                    <label>Número</label>
                                                </div>
                                                <div class="col-xs-2 form-group">
                                                    <input type="text" class="form-control" name="numero" value="{{empresa.endereco.numero}}" >
                                                </div>

                                                <div class="col-xs-4 form-group" style="text-align: right">
                                                    <label>Cidade</label>
                                                </div>
                                                <div class="col-xs-4 form-group">
                                                    <input type="text" class="form-control" name="cidade" value="{{empresa.endereco.cidade}}" >
                                                </div>

                                                <div class="col-xs-2 form-group" style="text-align: right">
                                                    <label>Estado</label>
                                                </div>
                                                <div class="col-xs-2 form-group">
                                                    <input type="text" class="form-control" name="estado" value="{{empresa.endereco.estado}}" >
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" >Editar Perfil</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>

        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery-1.11.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>

<script>
    function changePicture(){
        $('#upload').click();
    }
    function readURL(input)
    {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e)
            {
                $('#image')
                .attr('src',e.target.result);

            };
            reader.readAsDataURL(input.files[0]);
        }
    }



</script>

</body>

</html>